<!Doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>INSAC</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<nav class="blue-grey darken-3">
  <div class="container"><a class="brand-logo center" ><span style="color: #FFBA22">INSAC</span></a>


    <ul id="slide-out" class="side-nav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Trabajadores</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">Ingresar</a></li>
                <li><a href="#!">Editar</a></li>
                <li><a href="#!">Eliminar</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header">Asistencia</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">Ingresar</a></li>
                <li><a href="#!">Editar</a></li>
                <li><a href="#!">Buscar</a></li>
              </ul>
            </div>
          </li>
                    <li>
            <a class="collapsible-header">Informes</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">Crear</a></li>
                <li><a href="#!">Editar</a></li>
                <li><a href="#!">Buscar</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i style="color: #FFBA22">Menu Principal</i></a>
          
  </div>
</nav>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $('dropdown-button').dropdown();
    });
  </script>


<%= yield %>

</body>
</html>
