<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="stylesheet/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="stylesheet/materialize.min.css">
  <link href="stylesheet/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<title>INSAC</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<nav class="blue-grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right"><span style="color: #FFBA22">INSAC</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a>Enlace 1</a></li>
      <li><a>Enlace 2</a></li>
      <li><a>Enlace 3</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a>Enlace 1</a></li>
      <li><a>Enlace 2</a></li>
      <li><a>Enlace 3</a></li>
    </ul>
  </div>
</nav>
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    $(document).ready(function(){
      $('dropdown-button').dropdown();
    });
  </script>


<%= yield %>

</body>
</html>
