html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.btn{
	background-color: #F8DA00;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}
.title{
	color: #F8DA00;
}
.white{
	color: #E0E0D2;
}
.be-red{
	background-color: #011E38;
}
.large-padding{
	padding: 5px 10px;
}
a:visited{
	color: inherit;
}
.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1,2em;
}
.field{
	margin-top:1em;
}