<html>
<body>
  <head>

  


<body>



<p id="notice"><%= notice %></p>




    <table class="highlight centered bordered">
        <thead>

         











  
          <tr>
              <th data-field="id"> <i class="material-icons prefix">account_circle</i> Nombre</th>
              <th data-field="name"> <i class="material-icons prefix">done</i>Resumen</th>
              <th data-field="price"><i class="material-icons prefix">schedule</i>Fecha Creacion</th>
          </tr>
        </thead>


         <% @reports.order("created_at desc").each do |report| %>

        <% if report.worker.nil? %>
        <%else%>

       <tbody>
          <tr>

            


            <td><%=  link_to report.worker.nombre , worker_report_path(report.worker_id, report.id) %></td>



            <td><%= report.resumen %></td>


            <td><%= report.created_at.strftime("%B %d, %Y") %></td>
            


         
           
          </tr>

        </tbody>


            <%end%>



<%end%>

      </table>


    </body>
    </html>