<div >
	 <table>
        <thead>
          <tr>
              <th data-field="worker">Nombre</th>
              <th data-field="equip">Equipo</th>
              <th data-field="days">Dias ausente</th>
              <th data-field="days">Dias extra</th>
              <th data-field="money">Bono/Descuento</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tbody>
      </table>
            
</div>